body{
    background-image: url(../img/Power\ point\ _\ Powerpoint\ background\ design\,\ Lights\ background\,\ Background\ powerpoint.jpg);
    background-size: cover;
}

.logo1{
    height: 20px;
    width: 20px;
}